.classpath
.externalToolBuilders/
.project
.settings/
.springBeans
**/.factorypath
**/*.class
*/target/*
.idea
*.im*
.DS_Store
test-output/
*.lock
logs/*
log/*
*/logs/*
*/log/*
*.ipr
*.iws
.pmd
target*/*
.metadata
/bin

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/target/
